.Food {
}

.gif {
  width: 200px;
}

.chart {
  /* background-color: bisque; */
  width: 300px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .chart {
    width: 230px;
  }
}
